.medical_wrapper table {
    border-spacing: 0;
    border-collapse: collapse;
}

.medical_wrapper table th,
.medical_wrapper table td {
    border: 1px solid #010823;
    padding: 5px 10px;
}

.medical_wrapper .logger_text .success {
    color: green;
}

.medical_wrapper .logger_text .error {
    color: red;
}
